/* Buttons
--------------------------------------------*/
.btn-twitter {
  //display: none;
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  bottom: -9px;
  overflow: hidden;
  right: 10px;
  background: #464646;
  color: $color-twitter;
  padding: 10px 65px 4px 20px;
  @include transform(translateY(3px));
  .twitter-logo {
    width: 30px;
    height: 30px;
    float: left;
    display: inline-block;
    margin: -9px 10px 0 0;
  }
  div {
    background: $color-brand;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    img {
      position: absolute;
      top: 13px;
      left: 13px;
      width: 14px;
      height: 14px;
    }
  }
  &:hover {
    div {
      img {
        @include transition(all 200ms cubic-bezier(0.550, 0.455, 0.940, 0.010));
        @include transform(rotate(360deg));
      }
    }
  }
  @include media(min-width 0 max-width $break-large) {
    right: 0;
    top: auto;
    bottom: 2px;
    width: 100%;
  }
}

.btn-mobile-menu {
  display: none;
  .burger-icon {
    @include burger(20px, 3px, 3px, #fff);
  }
  &.is-active .burger-icon {
    @include burger-to-cross;
  }
  @include media(min-width 0 max-width $break-large) {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 3px;
  }
}
