/* Mixins
--------------------------------------------*/
@mixin font-copy($size) {
  font-family: Arial, sans-serif;
  font-size: $size;
}

@mixin font-headings($size) {
  font-family: "tgltbcn20"; // crazy name for IE
  font-size: $size;
}

@mixin grid() {
  padding: 0 10px;
  @include outer-container(960px);
  @include media(min-width 0 max-width $break-xlarge) {
    @include outer-container(100%);
  }
}

@mixin links() {
  a {
    &:link, &:active, &:visited {
      color: $color-brand;
    }
    &:hover {
      color: darken($color-brand, 10%);
    }
  }
}

@mixin gogo-slide-bgs($slide) {
  @for $i from 1 through 4 {
    .slide-bgs .slide-bg:nth-child(#{$i}) {
      background-image:url('/images/slides/#{$slide}_#{$i - 1}.jpg');
      @include media(min-width 0 max-width $break-large) {
        background-image: url('/images/slides/#{$slide}_#{$i - 1}_b1.jpg');
      }
    }
  }
}
