/* Navs
--------------------------------------------*/
header {
  @include outer-container(100%);
  position: fixed;
  box-sizing: border-box;
  z-index: 9999; // king of the castle.
  background: rgba(0,0,0,.8);
  padding: 20px 0 15px 0;
  width: 100%;
  height: 60px;
  nav {
    @include grid();
    position: relative;
    .logo {
      float: left;
      width: 110px;
    }
    ul.menu-main {
      animation: fadeIn 0.5s ease-out;
      margin: 14px 0 0 0;
      padding: 0;
      list-style: none;
      float: left;
      li {
        float: left;
        a {
          font-weight: bold;
          color: #fff;
          &:not(.btn-twitter) {
            padding: 15px 23px 0 0;
          }
          &:hover {
            color: $color-light-gray;
          }
          &:active {
            color: $color-brand;
          }
          &.highlight-mute {
            color: $color-light-gray;
          }
          &.highlight-strong {
            color: $color-brand;
          }
        }
      }
      &.toggled {
        @include transform(translateY(0));
        opacity: 1;
        display: block;
      }
      @include media(min-width 0 max-width $break-large) {
        position: fixed;
        box-sizing: border-box;
        top: 0;
        left: 0;
        margin-top: 0;
        opacity: 0;
        display: none;
        height: 100vh;
        background: rgba(0,0,0,.90);
        width: 100%;
        text-align: center;
        li {
          float: none;
          padding: 0;
          a {
            &:not(.btn-twitter) {
              padding: 20px 0;
              border-bottom: 1px solid rgba(255,255,255,.1);
              display: block;
              font-size: 24px;
            }
            &:active {
              background: $color-brand;
            }
          }
        }
      }
    }
  }
}
