/* Content Panels
--------------------------------------------*/
.wrap-content {
  @include grid();
  @include links();
}

.panel {
  @include outer-container(100%);
  margin: 0 0 80px 0;
  font-weight: bold;
  h1 {
    color: #fff;
    font-size: 33px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    span {
      color: $color-brand;
    }
    @include media(min-width 0 max-width 560px) {
      font-size: 24px;
      line-height: 26px;
    }
  }
  h2 {
    border-bottom: 1px solid #282828;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    color: $color-light-gray;
    a {
      color: $color-brand;
      font-size: 12px;
    }
  }
  .item {
    @include span-columns(4);
    h4 {
      @include media(min-width 0 max-width 560px) {
        font-size: 24px;
        line-height: 26px;
      }
      font-size: 33px;
      line-height: 36px;
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
    span {
      color: $color-highlight;
    }
    p {
      color: $color-light-gray;
    }
    img {
      width: 100%;
      height: auto;
    }
    @include media(min-width 0 max-width 560px) {
      @include span-columns(12);
      margin-bottom: 50px;
    }
  }
}
