/* Redefined
--------------------------------------------*/
body {
  @include font-copy(12px);
  background: $color-background;
  color: #fff;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
