/* Individual Slides
---------------------*/
.slide-django {
  h2 {
    color:#d90e0a;
  }
  p {
    color: $color-light-gray;
  }
  @include gogo-slide-bgs('django');
}

.slide-vizio {
  h2 {
    color:#d90e0a;
  }
  p {
    color: $color-light-gray;
  }
  @include gogo-slide-bgs('vizio');
}

.slide-escape {
  h2, a {
    color:#f68f1e;
  }
  p {
    color: #fff;
  }
  @include gogo-slide-bgs('escape');
}

.slide-ultra {
  h2, a {
    color:#2162bc;
  }
  p {
    color: $color-light-gray;
  }
  @include gogo-slide-bgs('ultra');
}
