/* Slideshow
--------------------------------------------*/
.wrap-slideshow {
  background: #fff;
  margin: 0 0 60px;
}

.slide {
  height: 674px;
  position: relative;
  &:focus {
    outline: none;
  }
  .slide-content {
    @include grid();
    @include transition(all 200ms ease);
    padding-top: 200px;
    article {

      position: relative;
      z-index: 1;
      @include span-columns(6);
      &.shift-3 {
        @include shift(6);
        @include media(min-width 0 max-width $break-large) {
          @include shift(0);
        }
      }
      @include media(min-width 0 max-width $break-large) {
        @include span-columns(12);
        text-align: center;
      }
    }
    h2 {
      padding: 0;
      margin: 0;

      @include font-headings(58px);
      white-space: nowrap;
      line-height: 55px;
      text-transform: uppercase;
      @include media(min-width 0 max-width $break-large) {
        @include font-headings(38px);
        line-height: 35px;
      }
    }
    p {
      font-size: 16px;
      width: 70%;
      @include media(min-width 0 max-width $break-large) {
        width: 90%;
        margin: 10px auto 0 auto;
      }
    }
    @include links();
    @include media(min-width 0 max-width $break-large) {
      padding-top: 100px;
    }
  }
}

.slide-bgs {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  .slide-bg {
    background-position: top center;
    background-repeat: none;
    background-repeat: no-repeat;
    height: 674px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slide-reveal {
  opacity: 0;
}

/* Slide Navigation (Slick)
---------------------*/
ul.slick-dots {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  //left: 50%;
  li {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    &.slick-active {
      background: $color-brand;
    }
    &:hover {
      background: $color-light-gray;
    }
    button {
      display: none;
    }
  }
}

.slick-nav-cont {
  @include grid();
  position: relative;
  .slick-nav {
    position: absolute;
    z-index: 1;
    top: -120px;
    cursor: pointer;
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border-top: 3px solid #fff;
    }
    &:hover {
      cursor: pointer;
      border-color: $color-light-gray;
      &::before {
        border-color: $color-light-gray;
      }
    }
  }
  .nav-prev {
    right: 40px;
    @include transform(rotate(-45deg));
    &::before {
      border-color: $color-brand; // Looks wierd :p
      border-left: 3px solid $color-brand;
    }
  }
  .nav-next {
    right: 10px;
    @include transform(rotate(45deg));
    &::before {
      border-right: 3px solid #fff;
    }
  }
}
