/* Variables
--------------------------------------------*/
$color-brand: #e34e33;
$color-highlight: #67d9da;
$color-background: #1d1d1d;
$color-twitter: #67d9da;
$color-light-gray: #9f9f9f;

$width-sidebar: 150px;

$break-xlarge: 959px;
$break-large: 710px;
